@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-color: #f7f3ea;
	background-image: url("https://www.transparenttextures.com/patterns/grid-noise.png");
	background-position: center;
	color: rgb(212, 165, 33);
	text-align: center;
	font-family: 'Ubuntu', sans-serif, Helvetica;
}

.wrapper{
	display: flex;
	flex-direction: column;
}

header{
	margin-bottom: 20px;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color:rgb(13, 160, 170);
}

.logo{
	padding-left: 80px;
	flex: 1;
}

.nav-links{
	display: flex;
	flex: 1;
}

.nav-links a{
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 18px;
	color: rgb(15, 36, 39);
	display: block;
	position: relative;
	text-transform: uppercase;
	transition: 0.5s;
}

.nav-links li{
	list-style: none;
	transition: 0.5s;
	margin: 0 20px;
}

.nav-links:hover li a{
	transform: scale(1.2);
	opacity: .2;
	filter: blur(5px);
	height:100%;
}

.nav-links li a:hover{
	transform: scale(1.4);
	opacity: 1;
	filter: blur(0)
}

/*accueil*/

.content-presentation{
	display: flex;
	flex-direction: column;
}

.title{
	font-size: 20px;	
	line-height: 2.4em;
}

.content-top{
	display: flex;
	margin-top: 20px;
}

.maphoto{
	flex:1;
}

.mes-info{
	flex:1;
	line-height: 1.8em;
	text-align: justify;
	background-color:rgb(224, 230, 233);
	color: black;
	border-radius: 32px;
	padding: 50px;
	height: 900px;
	padding-left: 100px;
	font-size: 16px;
	-webkit-animation: fadein 2s;  /*Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
 	animation: fadein 2s;
}

/*mes motivations*/

.wrapper-content-t{
	display: flex;
	flex-direction: column;
}

.main-title{
	margin-top: 50px;
	font-size: 28px;
}

.content{
	display: flex;
	flex-direction: row;
	height: 600px;
	justify-content: center;
}

.flex-left{
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-left: 40px;
	margin-bottom: 10px;
}

.flex-left-top{
	flex: 5;
	border-radius: 32px;
	margin-top: 20px;
	line-height: 2em;
	text-align: justify;
	background-color: rgb(224, 230, 233);
	-webkit-animation: fadein 2s;  /*Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
 	animation: fadein 2s;
}

.cadre-writting-large{
	color: black;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 40px;
	font-size: 35px;
	line-height: 1.2em;
}

.mayus-color{
	color:rgb(13, 160, 170);
}

.flex-left-bot{
	flex: 2;
	border-radius: 32px;
	margin-top: 20px;
	line-height: 2em;
	text-align: justify;
	padding-top: 45px;
	background-color: rgb(224, 230, 233);
	-webkit-animation: fadein 2s;  /*Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
 	animation: fadein 2s;

}

.cadre-writting{
	color: black;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 15px;
	font-size: 28px;
}

.flex-mid{
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-left: 40px;
	margin-bottom: 10px;
}

.flex-mid-top{
	flex: 2;
	border-radius: 32px;
	margin-top: 20px;
	line-height: 2em;
	text-align: justify;
	background-color: rgb(224, 230, 233);
	-webkit-animation: fadein 2s;  /*Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
 	animation: fadein 2s;
}

.flex-mid-bot{
	flex: 5;
	border-radius: 32px;
	margin-top: 20px;
	line-height: 2em;
	text-align: justify;
	background-color: rgb(224, 230, 233);
	padding-top: 25px;
	-webkit-animation: fadein 2s;  /*Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
 	animation: fadein 2s;
}

.flex-right{
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 10px;
}

.flex-right-top{
	flex: 5;
	border-radius: 32px;
	margin-top: 20px;
	line-height: 2em;
	text-align: justify;
	background-color: rgb(224, 230, 233);
	padding-top: 40px;
	-webkit-animation: fadein 2s;  /*Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
 	animation: fadein 2s;
}

.flex-right-bot{
	flex: 2;
	border-radius: 32px;
	margin-top: 20px;
	line-height: 2em;
	text-align: justify;
	background-color: rgb(224, 230, 233);
	-webkit-animation: fadein 2s;  /*Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
 	animation: fadein 2s;
}

/*centres d'interets*/

.title-centres-inte{
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 32px;
}

.photos{
	display: flex;
	flex-direction: column;
}

.photos-top{
	margin: 10px 50px;
}

.photos-top img {
	transition: 0.5s;
	padding: 15px;
	width: 518px;
	height: 346px;
}

.photos-top img:hover {
	transform: scale(1.1);
}

.photos-bottom{
	margin: 10px 50px;
}

.photos-bottom img {
	transition: 0.5s;
	padding: 15px;
	width: 518px;
	height: 346px;
}

.photos-bottom img:hover {
	transform: scale(1.1);
}

/*sites preferes*/

.wrapper-sites{
	display: flex;
	margin-top: 70px;
}

.space-one{
	flex:1;
	height: 700px;
}

.links-interesants{
	flex:1;
	background-color: rgb(224, 230, 233);
	border-radius: 32px;
	height: 700px;
	padding-top: 50px;
}

.links-interesants a{
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 18px;
	color:rgb(13, 160, 170);
}

.links-interesants li{
	list-style: none;
}

.links-interesants>p{
	font-size: 30px;
}

.links-interesants a:visited{
	color:rgb(161, 160, 160);
}

.links-interesants a:hover{
	color: rgb(15, 36, 39);
}

.space-two{
	flex:1;
	height: 700px;
}

.main-footer{
	flex: 1;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}

/*contact*/

.wrapper-content-contact{
	display: flex;
	flex-direction: column;
}

.title-contact{
	font-size: 40px;
	flex: 1;
}

form{
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: 'Ubuntu', sans-serif, Helvetica;
	flex: 1;
}

.title-info{
	font-size: 40px;
	flex: 1;
}

.content-contact{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	font-size: 20px;
	flex: 1;
}

.space-contact{
	flex: 1;
}

.info-contact{
	display: flex;
	flex-direction: row;
	flex: 2;
	background-color: rgb(224, 230, 233);
	border-radius: 32px;
	color: black;
	padding-top:30px;
	padding-left:10px;
	padding-right:10px;
	height: 220px;
}

.adresse{
	flex: 1;
}

.telephone{
	flex: 1;
}

.reseaux{
	flex: 1;
}

.reseaux a:visited{
	color:rgb(13, 160, 170);
}

.reseaux a:link{
	color:rgb(13, 160, 170);
}

.reseaux a:hover{
	color:rgb(212, 165, 33);
}

.reseaux a:active{
	color:rgb(13, 160, 170);
}

.button{
    width: 150px;
    height: 40px;
    border-radius: 6px;
    color:white;
    background-color:rgb(31, 159, 168);
	border: 1px solid #cacfd4;
	margin-top:20px;
}

.button:hover {
	background-color:rgb(21, 64, 75);
	transition: all 0.3s ease 0s;
	}
/*site responsivity*/	

@media screen and (min-width: 376px) and (max-width: 990px){
	.content-presentation{
		flex-direction:column;
		align-items: center;
	}
	
	.title{
		align-items: center;
		margin: 0;
	}
	
	.logo{
		display: none;
	}

	.content-top{
		flex-direction:column;
		margin: 0;
		padding: 0;
	}
	
	.main-footer{
		display: none;
	}

	.maphoto{
		align-items: center;
	}

	.mes-info{
		align-items: center;
	}	

	.info-contact{
		background-color: transparent;
	}

	.links-interesants{
		background-color: transparent;
	}

	nav ul{
		flex-direction:column;
	}

	.nav ul li{
		text-align: center;
	}

	.content{
		flex-grow: 1;
		min-width: 375px;
		flex-wrap: wrap;
	}
}


@media screen and (max-width: 375px){
	
	.wrapper-gallery{
		align-items: center;
	}
	
	nav ul{
		flex-direction:column;
	}

	.nav ul li{
		text-align: center;
	}

	.content-presentation{
		flex-direction:column;
		align-items: center;
	}

	.title{
		align-items: center;
		margin: 0;
	}

	.logo{
		display: none;
	}

	.content-top{
		flex-direction:column;
		margin: 0;
		padding: 0;
	}

	.maphoto{
		align-items: center;
	}

	.mes-info{
		align-items: center;
	}

	.main-title{
		font-size: 10px;
		align-items: center;
	}

	.content{
		flex-grow: 1;
		min-width: 375px;
		flex-wrap: wrap;
	}

	.main-footer{
		display: none;
	}

	.photos-top{
		height: auto; 
		width: auto; 
		max-width: 375px; 
		
		flex-wrap: wrap;
		flex-grow: 1;
	}
	.photos-bottom{
		flex-wrap: wrap;
		flex-grow: 1;
	}

	.body{
		flex-wrap: wrap;
		flex-grow: 1;
	}

	.content-contact{
		flex-direction: column;
	}
	
}

/*fade in effects*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}